{% extends "base.html" %}

{% block content %}
<br>
<br>

    <form method="post">
        <label>
            <div>Title: </div>
            <input type="text" name="title" value="{{title}}">
        </label>

        <label>
            <div>Post: </div>
            <textarea name="post_text">{{post_text}}</textarea>
        </label>

        <input type="submit">
    </form>

<br>
<br>
    <div class="error">{{error}}</div>
    <hr>

    <br>
    <br>



<br>
<br>

</body>

<footer>

<address>
    <p><br>Contents written by: <span id='myname'><b>Brittani Luce</b></span></p>
    <p>Written for: LaunchCode 101 -- User Sign-Up
    <p>Thank you for visiting!</p>
</address>

    <p id='copy'>&#169;Brittani Luce, 2017
    <br><br></p>

</footer>

{% endblock %}
